@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');

h1 {
	font-weight: bold;
	margin-top: 5em !important;	
	font-family: 'Shadows Into Light', cursive;
}

input {
	margin-top: 2em !important;
}

.MDBCol {
	text-align: center;
}